/* -- Small Reset (margin,padding to 0 ) -- */
/* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;   -- */

/* -vars- */
$border-color:rgb(156, 21, 50);
$font-color:rgb(80, 80, 80);
$buttor-color:rgb(253, 195, 0);
$main-dark-color:rgb(33, 31, 31);
$main-light-color:rgb(237, 229, 229);
$background-color:rgb(83, 131, 133);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
    
 
}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

h1{
    color: $main-light-color;
    text-align: center;
    margin:20px
}
.linkbox{
    display: flex;
    flex-wrap: wrap;
 
    a{
        text-decoration: none;
        color: $main-dark-color;
        border: 1px solid $main-dark-color;
        border-radius: 5px;
        padding: 1em;
        margin: 1em;
    }
    a:hover{
        background-color: $main-dark-color;
        color: $main-light-color;
    }

}
.main-content{
    height: 312px ;
    width:373px ;
    border: 7px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
   
    .top-text{
        border-bottom:1px solid rgba(211, 211, 211, 0.693);
        text-align: center;
        padding:23px;
        line-height: 1.2rem;
        letter-spacing: -1px;
    
        h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8rem;
            font-weight: 500;
            color: $font-color;            
        }        
    }
    .middle-text{
       text-align: center;
       h3{
        font-family:  'Montserrat', sans-serif;
        font-size: 0.9rem;
        padding: .3rem;
        color: rgb(68, 62, 62);
       }
       .time{
           font-size: 1.3rem;
           font-weight: bolder;
           color: rgb(68, 62, 62);
           font-family:  'Montserrat', sans-serif;
           font-size: .95rem;
       }
       .brand{
           color: rgb(111, 173, 60);
           font-size: 0.75rem;
           padding: .3rem;
           font-family:  'Montserrat', sans-serif;
           font-weight: 800;
       }
    }
    .bottom-text{
        text-align: center;
        background-color: $font-color;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.9rem;
        a{
            background-color:$buttor-color;
            text-decoration: none;
            padding: .6em ;
            color: rgb(68, 62, 62);
            text-transform: uppercase;
           font-family:  'Montserrat', sans-serif;
            font-size: 0.9rem;
            font-weight: 600;
            border-radius:5px;
        }
        i{
            background-color:rgb(243, 187, 2) ;
            margin-right: 5px;
        }
    }
}
@media only screen and (max-width: 655px) {
    s
        

    
    h1 {
      font-size: 1rem;
    }
    .linkbox{
        flex-direction: column;
        text-align: center;
    a {
      padding: 0.5em;
      margin: 5px;
    }
}
  }
