/* -- Small Reset (margin,padding to 0 ) -- */
/* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;   -- */
/* -vars- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cadetblue;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: #ede5e5;
  text-align: center;
  margin: 20px;
}

.linkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkbox a {
  text-decoration: none;
  color: #211f1f;
  border: 1px solid #211f1f;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.linkbox a:hover {
  background-color: #211f1f;
  color: #ede5e5;
}

.main-content {
  height: 312px;
  width: 373px;
  border: 7px solid #9c1532;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.main-content .top-text {
  border-bottom: 1px solid rgba(211, 211, 211, 0.693);
  text-align: center;
  padding: 23px;
  line-height: 1.2rem;
  letter-spacing: -1px;
}

.main-content .top-text h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #505050;
}

.main-content .middle-text {
  text-align: center;
}

.main-content .middle-text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  padding: .3rem;
  color: #443e3e;
}

.main-content .middle-text .time {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #443e3e;
  font-family: 'Montserrat', sans-serif;
  font-size: .95rem;
}

.main-content .middle-text .brand {
  color: #6fad3c;
  font-size: 0.75rem;
  padding: .3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.main-content .bottom-text {
  text-align: center;
  background-color: #505050;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem;
}

.main-content .bottom-text a {
  background-color: #fdc300;
  text-decoration: none;
  padding: .6em;
  color: #443e3e;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
}

.main-content .bottom-text i {
  background-color: #f3bb02;
  margin-right: 5px;
}

@media only screen and (max-width: 655px) {
  s
h1 {
    font-size: 1rem;
  }
  .linkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .linkbox a {
    padding: 0.5em;
    margin: 5px;
  }
}
/*# sourceMappingURL=intf2.css.map */