/* -- Small Reset (margin,padding to 0 ) -- */
/* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;   -- */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
    background-color: rgb(171, 214, 199);
 
}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.main-content{
    height: 312px ;
    width:373px ;
    border: 7px solid red;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
   
    .top-text{
        border-bottom:1px solid black ;
        text-align: center;
        padding:25px;
        line-height: 1.2rem;
        h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8rem;
            font-weight: 500;
            
        }
        
    }
    .middle-text{
       text-align: center;
       h3{
        font-family:  'Montserrat', sans-serif;
        font-size: 0.9rem;
        padding: .3rem;
       }
       .time{
           font-size: 1.3rem;
           font-weight: bolder;
           
       }
       .brand{
           color: green;
           font-size: 0.95rem;
           padding: .3rem;
       }
    }
    .bottom-text{
        text-align: center;
        background-color: rgb(44, 42, 42);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        a{
            background-color: rgb(201, 169, 63);
            text-decoration: none;
            padding: .5em;
            color: rgb(44, 42, 42);
            text-transform: uppercase;
            
            font-size: 0.9rem;
            font-weight: 600;
            border-radius:5px;
        }
        i{
            background-color:rgb(201, 169, 63) ;
            margin-right: 5px;
        }
    }
}